footer.page-footer
    div &copy; 2018 Sinclair Broadcast Group
    hr.footer-seperator
    .footer-bottom-row
        a(href="#") Terms 
        a(href="#") Privacy 
        a(href="#") FCC 
        a(href="#") Info 
        a(href="#") EEO