doctype html
html(amp lang="en")
    head
        meta(charset="utf-8")
        meta(name="amp-experiments-opt-in" content="amp-next-page")
        script(async src="https://cdn.ampproject.org/v0.js")
        title= pageTitle
        link(rel="canonical" href= canonicalUrl)
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800")
        link(href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" type="text/css")
        meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
        script(async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js")
        script(async custom-element="amp-next-page" src="https://cdn.ampproject.org/v0/amp-next-page-0.1.js")
        script(async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js")
        script(async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js")
        script(async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js")
        script(async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js")
        script(async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js")
        script(async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js")
        script(async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js")
        if hasVideo
           script(async custom-element="amp-ima-video" src="https://cdn.ampproject.org/v0/amp-ima-video-0.1.js")
        script(async custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js")
        script(async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js")
        style(amp-boilerplate) body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
        noscript
            style(amp-boilerplate) body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
        style(amp-custom)
            | html { -webkit-tap-highlight-color: rgba(0,0,0,0); }
            | body { font-family: 'Open Sans', sans-serif; padding-top: 50px; }
            | .page-header { height: 50px; background-color: !{brandColorOne}; color: #fff; position: fixed; top: 0; left: 0; z-index: 50; width: 100%; }
            | .header-menu-accordion { height: 50px; width: 85%; z-index: 50; }
            | .hamburger { display: inline-block; overflow: visible; margin: 0; padding: 12px 15px 18px; transition-timing-function: linear; transition-duration: .15s; transition-property: opacity,filter; border: 0; background-color: transparent; width: 20px; height: 20px; text-align: center; }
            | .hamburger:active, .hamburger:focus { outline: none; }
            | .hamburger-box { position: relative; display: inline-block; width: 40px; height: 24px; }
            | .hamburger-inner { position: absolute; width: 40px; height: 2px; transition-timing-function: ease; transition-duration: .15s; transition-property: transform; border-radius: 4px; background-color: #fff; display: block; margin-top: -2px; }
            | .hamburger-inner::before, .hamburger-inner::after { position: absolute; width: 40px; height: 2px; transition-timing-function: ease; transition-duration: .15s; transition-property: transform; border-radius: 4px; background-color: #fff; display: block; content: ""; }
            | .hamburger-inner::after { bottom: -10px; }
            | .hamburger--slider .hamburger-inner { top: 2px; }
            | .hamburger--slider .hamburger-inner::before { top: 10px; transition-timing-function: ease; transition-duration: .15s; transition-property: transform,opacity; }
            | .hamburger--slider .hamburger-inner::after { top: 20px; }
            | .page-header section[expanded] .hamburger--slider .hamburger-inner { transform: translate3D(0,10px,0) rotate(45deg); }
            | .page-header section[expanded] .hamburger .hamburger-inner:after, .page-header section[expanded] .hamburger .hamburger-inner:before { background-color: #fff; }
            | .page-header section[expanded] .hamburger--slider .hamburger-inner:before { transform: rotate(-45deg) translate3D(-5.71429px,-6px,0); opacity: 0 }
            | .page-header section[expanded] .hamburger--slider .hamburger-inner:after { transform: translate3D(0,-20px,0) rotate(-90deg); }
            | .header-menu-button:focus, .header-menu-button:active { outline: none; }
            | .header-menu-level-1 h2 { background-color: #202020; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 16px; line-height: 16px; letter-spacing: 0.5px; border: none; border-bottom: 1px solid #444; padding: 17px 52px 17px 20px; }
            | .header-menu-level-1 h2:focus { outline: none; }
            | .header-menu-level-1 ul { background-color: #2e2e2e; color: rgba(255,255,255,0.7); list-style-type: none; padding-left: 0; }
            | .header-menu-level-1 li { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 42px; margin-left: 40px; }
            | .page-header .nav-link { color: rgba(255,255,255,0.7); text-decoration: none; display: block; width: 100%; height: 100%; }
            | .header-logo { position: absolute; top: 0; left: 65px; width: 100px; height: 50px; }
            | .header-weather-icon-wrapper { position: absolute; right: 85px; top: 0; display: block;}
            | .header-weather-icon { width: 42px; height: 50px; }
            | .header-watch-icon-wrapper { position: absolute; right: 0; top: 0; display: block; background-color: !{brandColorTwo} }
            | .header-watch-icon { width: 66px; height: 50px; }
            | .top-ad-container { background-color: #dcdcdc; padding: 18px 0 15px; box-shadow: inset 0 0 6px 1px #d0d0d0; position: relative; }
            | .top-ad-disclaimer { font-size: 8px; line-height: 8px; margin: 0; position: absolute; top: 6px; left: 50%; transform: translateX(-160px); letter-spacing: 0.5px; color: #999; }
            | .top-ad { margin: 0 auto; display: block; }
            | .story-headline { color: #121212; font-family: Open Sans; font-weight: 800; margin: 0; font-size: 20px; letter-spacing: -0.5px; line-height: 24px; padding: 18px 15px 18px 15px; }
            | .story-headline-border { height: 1px;	background-color: #ededed; margin: 0px 15px 0px 15px; }
            | .story-byline { height: 12px; width: 286px; color: #444; font-family: "Open Sans"; font-weight: 400; font-size: 12px; line-height: 12px; padding: 10px 15px 5px; }
            | .story-date { height: 12px; width: 286px;	color: #444; font-family: "Open Sans"; font-weight: 400; font-size: 12px; line-height: 12px; padding: 0px 0px 15px 15px; display: block; }
            | .heroCarouselContainer { margin: 0; }
            | .heroCarouselSlide { }
            | .heroCarouselCaption { font-family: 'Open Sans', sans-serif; font-size: 11px; line-height: 15px; color: #666; margin: 10px 15px 25px; }
            | .heroCarouselCaptionScroll { height: 150px; overflow-y: scroll; }
            | .social-sharing-buttons-container { height: 40px; display: flex; flex-direction: row; justify-content: space-between; margin: 15px; }
            | .social-sharing-buttons-container > amp-social-share { flex-grow: 1; text-align: center; line-height: 40px; }
            | .social-sharing-button-facebook { background-color: #3b5998; color: #fff; }
            | .social-sharing-button-twitter { background-color: #1da1f2; color: #fff; margin: 0 4px; }
            | .social-sharing-button-email { background-color: #03afb0; color: #fff; }
            | .story-body-text { margin: 15px; font-size: 16px; line-height: 26px; color: #121212; font-family: 'PT Serif'; }
            | .in-story-block-ad { margin: 15px auto; display: block; }
            | .amp-next-page-links > a { font-family: 'PT Serif'; }
            | .page-footer { height: 105px; font-family: 'Open Sans' sans-serif; text-align: center; background-color: #202020; }
            | .page-footer > div { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 50px; color: #bcbcbc; }
            | .footer-seperator { margin: 0 4%; border-bottom: 1px solid #797979; }
            | .footer-bottom-row { display: flex; flex-direction: row; justify-content: space-around; padding: 0 8%; }
            | .page-footer a { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 54px; color: #bcbcbc; text-decoration: none; }
            | .image-embed-caption {  }
    body
        include components/header.pug
        .top-ad-container
            .top-ad-disclaimer ADVERTISEMENT
            amp-ad(class="top-ad" type="doubleclick" width="320" height="50" data-slot="/4756/demonews3/Mobile")
        .story-headline-container
            h1(class="story-headline")= headline
        .story-headline-border
        .story-byline-container
            div(class="story-byline") by #{byLine}
        .story-date-container
            time(class="story-date" datetime= publishedDateISO8601)= storyPublishedDate
        div(class="heroCarouselContainer") !{ampCarouselComponent}
        .social-sharing-buttons-container
            amp-social-share(type="facebook" data-param-app_id=facebookAppId class="social-sharing-button-facebook" height="40")
            amp-social-share(type="twitter" class="social-sharing-button-twitter" height="40")
            amp-social-share(type="email" class="social-sharing-button-email" height="40")
        div(class="story-body-text") !{storyBodyText}
        .taboola-container
        amp-next-page
            script(type="application/json") !{nextPageData}
        include components/footer.pug
